<section class="projects">
  <h1>New project</h1>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      New project
    </mat-expansion-panel-header>
    <form [formGroup]="newProject" (ngSubmit)="submit()">
      <mat-form-field>
        <mat-label>
          Project name
        </mat-label>
        <input matInput formControlName="name" type="text">
      </mat-form-field>
      <mat-action-row>
        <button mat-icon-button type="submit">
          <mat-icon>done</mat-icon>
        </button>
        <button (click)="resetForm()" mat-icon-button type="button">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-action-row>
    </form>
  </mat-expansion-panel>
  <hr>
  <h1>Your projects</h1>
  <div *ngIf="projects">
    <mat-card *ngFor="let proj of projects">
      <span>{{proj.name}}</span>
      <button (click)="deleteProject(proj.id)" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card>
  </div>
</section>
