<div class="config">
  <mat-card class="form-card">
    <form (ngSubmit)="getReports()" [formGroup]="dateRange">
      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker3">
          <input formControlName="start_date" matStartDate placeholder="Start date">
          <input matEndDate formControlName="end_date" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-date-range-picker #picker3></mat-date-range-picker>
      </mat-form-field>


      <mat-radio-group (change)="typeChanged($event)">
        <mat-radio-button checked value="column">
          Bar
        </mat-radio-button>
        <mat-radio-button value="line">
          Line
        </mat-radio-button>
      </mat-radio-group>

      <button color="accent" mat-raised-button type="submit">
        submit
      </button>
    </form>
  </mat-card>
  <div class="chart">
    <div *ngIf="!chartRendered" style="height: 100%;display: flex; justify-content: center; align-items: center">
      <h2>Please select dates in order to load the charts</h2>
    </div>
    <div *ngIf="chartRendered">
      <mat-card>
        <div id="chartContainer" style="height: 370px; width: 100%"></div>
      </mat-card>
      <br>
      <div class="row">
        <mat-card class="gen-report">
          <mat-card-title>
            General report
          </mat-card-title>
          <mat-card-content>
            <h3>Total hours of work: {{totalHour}}</h3>
            <h3>Work hours based on projects</h3>
            <ul>
              <li *ngFor="let p of pieChart">
                {{p[1]}}: <b>{{numberToTime(p[2])}}</b>
              </li>
            </ul>
          </mat-card-content>
        </mat-card>

        <mat-card class="pie-card">
          <div id="pie-chart" style="height: 250px; width: 100%"></div>
        </mat-card>
      </div>
    </div>
  </div>
</div>

