<section class="start-page">
  <h1>Time Wallet</h1>
  <h2>A Task Management application</h2>
  <span>Designed and developed by Amir Esmaeili</span>

  <p>
    It is a free web-based application that you can track your time for
    your projects and tasks.
  </p>
  <h3>Features</h3>
  <ul>
    <li>Time tracker</li>
    <li>Project management</li>
    <li>Work hour reports</li>
    <li>Adding project</li>
  </ul>
  <h3>Todos</h3>
  <ul>
    <li>Team management</li>
    <li>User profile</li>
    <li>Tasks view filtering</li>
  </ul>

  <a href="https://github.com/amir-esmaeili/time-wallet" target="_blank">
    <i class="fab fa-github fa-2x"></i>
    <span>Check this project</span>
  </a>
</section>
