mat-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  .banner-toolbar {
    height: 30vh;
    padding: 10px;
    text-align: center;
    .username {
      font-size: smaller;
    }
  }
  mat-list-item {
    mat-icon {
      margin-right: 5px;
    }
  }
  header {
    position: sticky;
    top: 0;
    z-index: 10;
    .toggle-button {
      margin-right: 10px;
    }
  }
}
