<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav>
    <mat-toolbar class="banner-toolbar">
      <mat-toolbar-row *ngIf="user">
        <img src="../assets/images/user.png" alt="user">
        <span><b>{{user.firstName}} {{user.lastName}}</b></span>
        <br>
        <span class="username">{{user.username}}</span>
      </mat-toolbar-row>
      <mat-toolbar-row *ngIf="!user">
        <h1>Time Tracker</h1>
        <span class="username">Copyright 2020 Amir Esmaeili</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list>
      <a routerLink="{{item.url}}" *ngFor="let item of sideBar">
        <mat-list-item >
          <mat-icon>
            {{item.icon}}
          </mat-icon>
          <span>{{item.name}}</span>
        </mat-list-item>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <header>
    <mat-toolbar>
      <button
        class="toggle-button"
        (click)="sidenav.toggle()"
        mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Time Tracker</span>
    </mat-toolbar>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>
</mat-sidenav-container>
