mat-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  mat-sidenav {
    width: 300px;
  }
  .banner-toolbar {
    height: 30vh;
    padding: 10px;
    text-align: center;
    justify-content: center;
    mat-toolbar-row {
      display: flex;
      flex-direction: column;
      height: auto;
      img {
        margin: 10px 0;
        width: 5rem;
      }
      .username {
        font-size: xx-small;
        white-space: pre-wrap;
      }
    }

  }
  mat-list-item {
    mat-icon {
      margin-right: 5px;
    }
  }
  header {
    position: sticky;
    top: 0;
    z-index: 10;
    .toggle-button {
      margin-right: 10px;
    }
  }
}
@media only screen and (max-width: 576px) {
  mat-sidenav-container {
    mat-sidenav {
      width: 70%;
    }
  }
}
