<section class="signup">
  <form [formGroup]="signUp" (ngSubmit)="submit()">
    <h1>Sign up now!</h1>
    <mat-form-field>
      <mat-label>
        email
      </mat-label>
      <input matInput formControlName="email" type="email">
      <mat-error *ngIf="signUp.get('email').hasError('required')">
        Please enter your email
      </mat-error>
      <mat-error *ngIf="signUp.get('email').hasError('email')">
        Please enter your email
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        username
      </mat-label>
      <input matInput formControlName="username" type="text">
      <mat-error *ngIf="signUp.get('username').hasError('required')">
        Please enter your username
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        first name
      </mat-label>
      <input matInput formControlName="firstName" type="text">
      <mat-error *ngIf="signUp.get('firstName').hasError('required')">
        Please enter first name
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        last name
      </mat-label>
      <input matInput formControlName="lastName" type="text">
      <mat-error *ngIf="signUp.get('lastName').hasError('required')">
        Please enter last name
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>password</mat-label>
      <input matInput formControlName="password" type="password">
      <mat-error *ngIf="signUp.get('password').hasError('required')">
        Please enter password
      </mat-error>
      <mat-error *ngIf="signUp.get('password').hasError('minLength')">
        Password should be at least 6 characters
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        repeat password
      </mat-label>
      <input matInput formControlName="rePassword" type="password">
      <mat-error *ngIf="signUp.get('rePassword').hasError('passwordNotMatch')">
        Passwords not match
      </mat-error>
      <mat-error *ngIf="signUp.get('rePassword').hasError('required')">
        Please re enter password
      </mat-error>
    </mat-form-field>
    <button color="accent" mat-raised-button type="submit">sign up</button>
  </form>
</section>
