<section class="task">
  <mat-card>
    <mat-card-title>
      {{task.title}}
    </mat-card-title>
    <mat-card-subtitle>
      <div class="field">
        <mat-icon>label</mat-icon>
        <span>{{task.tag}}</span>
      </div>
      <div class="field">
        <span class="tag">project:</span>
        <span><b>{{task.project.name}}</b></span>
      </div>
    </mat-card-subtitle>
    <mat-card-content>
      <div *ngIf="timerInterval === null" class="field time">
        <mat-icon>timelapse</mat-icon>
        <span>{{task.time}}</span>
      </div>
      <div *ngIf="timerInterval !== null"  class="field time">
        <mat-icon>timelapse</mat-icon>
        <span>{{timerStr}}</span>
      </div>

      <div class="field">
        <mat-icon>date_range</mat-icon>
        <span>{{task.startTime}} to {{task.endTime}}</span>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="timerInterval !== null" (click)="endTask()" matTooltip="pause" mat-icon-button>
        <mat-icon>pause</mat-icon>
      </button>
      <button *ngIf="timerInterval === null" (click)="reDoTask()" matTooltip="resume" mat-icon-button>
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button (click)="delete()" matTooltip="delete" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</section>
