.task {
  margin: 5px 0;
  mat-card-title {
    margin-bottom: 1rem;
  }
  mat-card-subtitle {
    display: flex;
    justify-content: space-between;
  }
  mat-card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .field {
    display: flex;
    align-items: center;
    * {
      margin: 5px;
    }
  }
  .time {
    font-size: xx-large;
  }
}
